.root {
    position: relative;
    padding-top: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 10;
    gap: 70px;
    position: absolute;
    bottom: -200;
}

.text {
    font-size: 30px;
}

.heading {
    font-size: 90px;
    line-height: 100px;
}

.startTrigger {
    position: absolute;
    bottom: 0px;
    height: 400px;
    width: 400px;
    z-index: -999;
}

@media only screen and (max-width: 1279px) {
    .root {
        padding-bottom: 0px;
    }

    .heading {
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
    }

    .text {
        font-size: 20px;
    }

    .container {
        padding-top: 120px;
        gap: 20px;
    }
}
